<header class="g-header">
    <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
  <script>
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?acc14985b9a5c692c98aa9d512bf3eb3";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
    })();
  </script>
</header>
