.video {
position: relative;
padding-bottom: 36.25%;
height: 0;
overflow: hidden;
max-width: 800px;
max-height: 600px;
margin:0 auto;
}
.video iframe,
.video object,
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
